<div class="pt-2 pt-lg-0 h-100">
  <div class="card bg-dark-2 shadow-lg py-2">
    <div class="card-body text-white">
      <h4>Contact</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aliquid dignissimos, doloribus ex explicabo minus neque!
      </p>
      <hr>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col d-flex flex-column align-items-center">
          <svg class="bg-secondary" width="100%" height="100%"></svg>
        </div>
        <div class="col text-white mt-4">
          <form>
            <div class="form-floating my-2">
              <input type="email" id="mail" class="form-control bg-transparent border-2 text-white" placeholder="Addresse e-mail">
              <label for="mail">Addresse e-mail</label>
            </div>
            <div class="form-floating my-2">
              <input type="text" id="objet" class="form-control  bg-transparent border-2 text-white " placeholder="L'Objet">
              <label class="form-label" for="objet">L'objet de votre message</label>
            </div>
            <div class="form-floating my-2">
              <textarea id="message" style="height: 100px;" rows="5" class="form-control bg-transparent border-2 text-white" placeholder="Saisir votre message..."></textarea>
              <label class="form-label" for="message">Votre message</label>
            </div>
            <div class="mt-4">
              <button class="btn btn-primary w-100">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!--  <app-footer class="position-absolute fixed-bottom"></app-footer>-->
</div>
