<div class="pt-2 pb-2 pt-lg-4">
  <div class="mb-4 col-12 col-md-6 col-lg-4 position-relative d-flex justify-content-center align-items-center">
    <button class="bg-warning border-white border-2 border-solid rounded-circle position-absolute end-0 mx-1" style="width: 30px; height: 30px">
      <i class="bi-search"></i>
    </button>
    <input type="text" [(ngModel)]="search" (input)="searchTraining()" class="form-control rounded-pill bg-dark-2 text-white" placeholder="Recherche...">
  </div>
  <div class="row row-cols-1 row-cols-md-3 d-flex row-gap-1">
    @for(item of documents | async; track item.id){
      <div class="col">
        <app-item-document [document]="item"></app-item-document>
      </div>
    }
  </div>
</div>
