<div class="pt-2 pb-2 pt-lg-4">
  <div class="mb-4 col-12 col-md-6 col-lg-4 position-relative d-flex justify-content-center align-items-center">
    <button class="bg-warning border-white border-2 border-solid rounded-circle position-absolute end-0 mx-1" style="width: 30px; height: 30px">
      <i class="bi-search"></i>
    </button>
    <input type="text" [(ngModel)]="search" (input)="searchTraining()" class="form-control rounded-pill bg-dark-2 text-white" placeholder="Recherche...">
  </div>
  <div class="row row-cols-1 row-cols-md-3 d-flex row-gap-1">
    <div class="col">
      <div class="card border-0 bg-dark-2 text-light h-100">
        <div class="card-body">
          <div class="card-title">
            <h4 class="fs-6">Lorem ipsum dolor sit.</h4>
          </div>
          <div class="">
            <a href="" class="d-flex align-items-center text-decoration-none text-warning fw-semibold">
              <svg width="20" height="20" class="bg-secondary rounded-circle border border-2 me-1"></svg>
              Titi
            </a>
            <div>
              <div class="d-flex flex-wrap gap-1">
                Niveau:
                <div class="d-flex flex-wrap gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">Debutant</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Intermediaire</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Expert</span>
                </div>
              </div>
              <div class="d-flex flex-wrap gap-1">
                Parcour(s):
                <div class="d-flex gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">DAI</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">ASR</span>
                </div>
              </div>
              <div class="fw-semibold text-center mt-1 text-warning">Jun 15, 2015</div>
            </div>
          </div>
          <div class="d-flex flex-column flex-lg-row gap-2 mt-2">
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-download"></i>
              Document
            </a>
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-github"></i>
              Code source
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 bg-dark-2 text-light h-100">
        <div class="card-body">
          <div class="card-title">
            <h4 class="fs-6">Lorem ipsum dolor sit.</h4>
          </div>
          <div class="">
            <a href="" class="d-flex align-items-center text-decoration-none text-warning fw-semibold">
              <svg width="20" height="20" class="bg-secondary rounded-circle border border-2 me-1"></svg>
              Titi
            </a>
            <div>
              <div class="d-flex flex-wrap gap-1">
                Niveau:
                <div class="d-flex flex-wrap gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">Debutant</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Intermediaire</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Expert</span>
                </div>
              </div>
              <div class="d-flex flex-wrap gap-1">
                Parcour(s):
                <div class="d-flex gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">DAI</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">ASR</span>
                </div>
              </div>
              <div class="fw-semibold text-center mt-1 text-warning">Jun 15, 2015</div>
            </div>
          </div>
          <div class="d-flex flex-column flex-lg-row gap-2 mt-2">
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-download"></i>
              Document
            </a>
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-github"></i>
              Code source
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 bg-dark-2 text-light h-100">
        <div class="card-body">
          <div class="card-title">
            <h4 class="fs-6">Lorem ipsum dolor sit.</h4>
          </div>
          <div class="">
            <a href="" class="d-flex align-items-center text-decoration-none text-warning fw-semibold">
              <svg width="20" height="20" class="bg-secondary rounded-circle border border-2 me-1"></svg>
              Titi
            </a>
            <div>
              <div class="d-flex flex-wrap gap-1">
                Niveau:
                <div class="d-flex flex-wrap gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">Debutant</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Intermediaire</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Expert</span>
                </div>
              </div>
              <div class="d-flex flex-wrap gap-1">
                Parcour(s):
                <div class="d-flex gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">DAI</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">ASR</span>
                </div>
              </div>
              <div class="fw-semibold text-center mt-1 text-warning">Jun 15, 2015</div>
            </div>
          </div>
          <div class="d-flex flex-column flex-lg-row gap-2 mt-2">
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-download"></i>
              Document
            </a>
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-github"></i>
              Code source
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 bg-dark-2 text-light h-100">
        <div class="card-body">
          <div class="card-title">
            <h4 class="fs-6">Lorem ipsum dolor sit.</h4>
          </div>
          <div class="">
            <a href="" class="d-flex align-items-center text-decoration-none text-warning fw-semibold">
              <svg width="20" height="20" class="bg-secondary rounded-circle border border-2 me-1"></svg>
              Titi
            </a>
            <div>
              <div class="d-flex flex-wrap gap-1">
                Niveau:
                <div class="d-flex flex-wrap gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">Debutant</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Intermediaire</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Expert</span>
                </div>
              </div>
              <div class="d-flex flex-wrap gap-1">
                Parcour(s):
                <div class="d-flex gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">DAI</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">ASR</span>
                </div>
              </div>
              <div class="fw-semibold text-center mt-1 text-warning">Jun 15, 2015</div>
            </div>
          </div>
          <div class="d-flex flex-column flex-lg-row gap-2 mt-2">
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-download"></i>
              Document
            </a>
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-github"></i>
              Code source
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 bg-dark-2 text-light h-100">
        <div class="card-body">
          <div class="card-title">
            <h4 class="fs-6">Lorem ipsum dolor sit.</h4>
          </div>
          <div class="">
            <a href="" class="d-flex align-items-center text-decoration-none text-warning fw-semibold">
              <svg width="20" height="20" class="bg-secondary rounded-circle border border-2 me-1"></svg>
              Titi
            </a>
            <div>
              <div class="d-flex flex-wrap gap-1">
                Niveau:
                <div class="d-flex flex-wrap gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">Debutant</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Intermediaire</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Expert</span>
                </div>
              </div>
              <div class="d-flex flex-wrap gap-1">
                Parcour(s):
                <div class="d-flex gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">DAI</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">ASR</span>
                </div>
              </div>
              <div class="fw-semibold text-center mt-1 text-warning">Jun 15, 2015</div>
            </div>
          </div>
          <div class="d-flex flex-column flex-lg-row gap-2 mt-2">
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-download"></i>
              Document
            </a>
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-github"></i>
              Code source
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-0 bg-dark-2 text-light h-100">
        <div class="card-body">
          <div class="card-title">
            <h4 class="fs-6">Lorem ipsum dolor sit.</h4>
          </div>
          <div class="">
            <a href="" class="d-flex align-items-center text-decoration-none text-warning fw-semibold">
              <svg width="20" height="20" class="bg-secondary rounded-circle border border-2 me-1"></svg>
              Titi
            </a>
            <div>
              <div class="d-flex flex-wrap gap-1">
                Niveau:
                <div class="d-flex flex-wrap gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">Debutant</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Intermediaire</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">Expert</span>
                </div>
              </div>
              <div class="d-flex flex-wrap gap-1">
                Parcour(s):
                <div class="d-flex gap-1">
                  <span class="badge border rounded-pill bg-dark-2 border-0">DAI</span>
                  <span class="badge border rounded-pill bg-dark-2 border-0">ASR</span>
                </div>
              </div>
              <div class="fw-semibold text-center mt-1 text-warning">Jun 15, 2015</div>
            </div>
          </div>
          <div class="d-flex flex-column flex-lg-row gap-2 mt-2">
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-download"></i>
              Document
            </a>
            <a href="" class="btn btn-sm btn-dark rounded-pill">
              <i class="bi-github"></i>
              Code source
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
